<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/admin.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <title>Admin panel</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li>
                    <a href="#">
                        <img th:src="@{/img/logo.png}" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-user-cog"></i>
                        <div class="title">Admin</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-home"></i>
                        <div class="title">Dashboard</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-address-card"></i>
                        <div class="title">Profile</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-bed"></i>
                        <div class="title">Patient</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-user-doctor"></i>
                        <div class="title">Doctor</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-calendar-check"></i>
                        <div class="title">Appointment</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-hand-holding-medical"></i>
                        <div class="title">Donor</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-flask"></i>  
                        <div class="title">Laboratory</div>
                    </a>
                </li>
                <li>
            </ul>
        </div>
        <div class="main">
            <div class="top-bar">
                    <h2>Welcome to your Hospital Management System</h2>
                <i class="fa fa-arrow-alt-circle-right"></i>
                <div class="user"></div>
            </div>
            <div class="cards">
                <div class="box">
                    <div class="card1">
                        <div class="card-content">
                            <div class="number">5</div>
                            <div class="card-name">Doctor</div>
                        </div>
                        <div class="icon-box">
                            <i class="fa fa-user-nurse"></i>
                        </div>
                    </div>
                    <div class="card2">
                        <div class="card-content">
                            <div class="number">20</div>
                            <div class="card-name">Patient</div>
                        </div>
                        <div class="icon-box">
                            <i class="fa fa-bed"></i>
                        </div>
                    </div>
                    <div class="card3">
                        <div class="card-content">
                            <div class="number">10</div>
                            <div class="card-name">Appointment</div>
                        </div>
                        <div class="icon-box">
                            <i class="fa fa-calendar-minus"></i>
                        </div>
                    </div>
                </div>
                <div class="box2">
                    <div class="card4">
                        <div class="card-content">
                            <div class="number">7</div>
                            <div class="card-name">Donor</div>
                        </div>
                        <div class="icon-box">
                            <i class="fa fa-hand-holding-medical"></i>
                        </div>
                    </div>
                    <div class="card5">
                        <div class="card-content">
                            <div class="number">5</div>
                            <div class="card-name">Laboratory</div>
                        </div>
                        <div class="icon-box">
                            <i class="fa fa-flask"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
</body>
</html>