<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" th:href="@{css/style.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<header class="header">
    <a href="#" class="logo"><img src="img/logo.png" alt="logo"></a>
    <nav class="navbars">
        <div id="nav-close" class="fas fa-times"></div>
        <a href="#">Home</a>
        <a href="#service">Service</a>
        <a href="#about">About</a>
        <a href="#footer">Contact</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
        <a sec:authorize="isAnonymous()" th:href="@{/login}">Login</a>

    </nav>
    <div class="icons">
        <div id="menu-btn" class="fas fa-bars"></div>
    </div>
</header>
<section class="home" id="home">
    <div class="container1">
        <div class="home-wrapper">
            <div class="boxs" style="background: url(/img/bg.jpg) no-repeat;">
                <div class="contents">
                    <h3>Everyday or life-changing care. <hr>
                        We're here when you need us.</h3>
                    <a href="#" class="btn" data-toggle="modal" data-target="#modalAppointment">Make An Appointment</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services" id="service">
    <div class="box-container">
        <div class="box-wrapper">
            <div class="box">
                <h4>Our Doctors</h4>
                <p>Choose by name, specialty, city and more.</p>
                <a href="" class="btn">Find a Doctor</a>
            </div>
            <div class="box">
                <h4>Location & Directions</h4>
                <p>Find maps and more for all locations.</p>
                <a href="" class="btn">Get Directions</a>
            </div>
            <div class="box">
                <h4>Appointments</h4>
                <p>More ways than ever to get the care you need.</p>
                <a href="" class="btn">Appointments & Access</a>
            </div>
        </div>
    </div>
</section>
<section class="carousels">
    <div class="container">
        <div class="carousel-card">
            <div class="cards" >
                <div class="carousel_card_title">
                    <h5>How can I get my
                        COVID-19 vaccine?</h5>
                </div>
                <div class="card_img">
                    <img src="img/card1.png" alt="">
                </div>
                <div class="card_title">
                    <a href="" class="btn">Schedule a Vaccine Appointment</a>
                </div>
            </div>
            <div class="cards" >
                <div class="carousel_card_title2">
                    <h5>Looking for information about
                        diseases & treatments?</h5>
                </div>
                <div class="card_img">
                    <img src="img/card2.png" alt="">
                </div>
                <div class="card_title">
                    <a href="" class="btn">Search Out Health Library</a>
                </div>
            </div>
            <div class="cards" >
                <div class="carousel_card_title3">
                    <h5>Looking for advice on how
                        to live healthier every day?</h5>
                </div>
                <div class="card_img">
                    <img src="img/card3.png" alt="">
                </div>
                <div class="card_title">
                    <a href="" class="btn">Explore Health Essentials</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-us" id="about">
    <div class="container">
        <div class="title">
            <h3>About Us</h3>
        </div>
        <div class="wrapper-about">
            <div class="image">
                <img src="img/about.jpg" alt="doctor">
            </div>
            <div class="content">
                <p>ala-too Group has over two decades of
                    experience in the healthcare sector,
                    and is known for providing quality
                    healthcare and valuable experience to
                    all domestic and international patients.
                    Our healthcare offerings are supported by
                    a team of compassionate and dedicated
                    medical professionals who have rich
                    knowledge and experience in their respective domains.</p>
            </div>
        </div>
        <div class="wrapper-about">
            <div class="image">
                <img src="img/about1.jpg" alt="doctor">
            </div>
            <div class="content">
                <h5>Barkyn Torokulova</h5>
                <p> <i> Ala-Too clinic, a healthcare landmark,
                    has been a household name to more than
                    50 thousand kyrgyzs. We currently have branches in Bishkek and Karakol.</i></p>
            </div>
        </div>
    </div>
</section>
<section class="donation">
    <div class="title">
        <h4>ala-too Clinic is a not-for-profit organization. </h4>
        <div class="don-btn">
            <a href="" class="btn" data-toggle="modal" data-target="#modalDonation">Make Donation</a>
        </div>
    </div>
</section>
<section class="footer" id="footer">
    <div class="box-container">
        <div class="box">
            <img src="img/logo.png" alt="logo">
        </div>
        <div class="box">
            <h3>quik links</h3>
            <a href="#home">home</a>
            <a href="#about">about</a>
            <a href="#shop">service</a>
            <a href="#packages">contact</a>
            <a href="#reviews">appointment</a>
            <a href="#blogs">blogs</a>
        </div>
        <div class="box">
            <h3>extra links</h3>
            <a href="#"><i class="fas fa-phone"></i> +996-555-555-555</a>
            <a href="#"><i class="fas fa-phone"></i> +312-555-555-555</a>
            <a href="#"><i class="fas fa-envelope"></i> alatoo.hospital@gmail.com</a>
            <a href="#"><i class="fas fa-map"></i> Kyrgyzstan, Bishkek - 720000</a>
        </div>
        <div class="box">
            <h3>follow us</h3>
            <a href="#"> <i class="fab fa-facebook"></i> facebook</a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter</a>
            <a href="#"> <i class="fab fa-instagram"></i> instagram</a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin</a>
        </div>
    </div>
    <div class="credit">Bishkek , ankara street - 1/8  | 0312 631 425 | © 2022 ala-too Clinic. All Rights Reserved.</div>
</section>
<div class="modal fade" id="modalAppointment" tabindex="-1" role="dialog" aria-labelledby="modalAppointmentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAppointmentLabel">Appointment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:object="${appointment}" th:action="@{/}" method="post">
                    <div class="form-group">
                        <label for="appointment_name" class="text-black">Full Name</label>
                        <input type="text" th:field="*{fullName}" class="form-control" id="appointment_name">
                    </div>
                    <div class="form-group">
                        <label for="appointment_email" class="text-black">Email</label>
                        <input type="email" th:field="*{email}" class="form-control" id="appointment_email">
                    </div>
                    <div class="form-group">
                        <label for="appointment_message" class="text-black">Message</label>
                        <textarea id="appointment_message" class="form-control" th:field="*{message}" cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send Message" class="btn btn-primary">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="modalDonation" tabindex="-1" role="dialog" aria-labelledby="modalDoantionLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDonationLabel">Donation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:object="${donor}" th:action="@{/#}"  method="post">
                    <div class="form-group">
                        <label for="donation_name" class="text-black">Full Name</label>
                        <input type="text" th:field="*{fullName}" class="form-control" id="donation_name">
                    </div>
                    <div class="form-group">
                        <label for="donation_email" class="text-black">Email</label>
                        <input type="email" th:field="*{email}" class="form-control" id="donation_email">
                    </div>
                    <div class="form-group">
                        <label for="donation_message" class="text-black">Message</label>
                        <textarea th:field="*{message}" id="donation_message" class="form-control" cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send Message" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/text.js"></script>
</body>
</html>
