<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{css/login.css}">
  <title>Log In </title>
</head>

<body>
  <div class="container">
    <div class="box">
      <h1>Welcome Back</h1>
      <div class="sign-in-container">
        <form th:action="@{/login}" method="post">
          <input type="text" placeholder="Enter email" name="username" required>
          <input type="password" placeholder="Enter Password"  name="password" required>
          <label class="checkbox-label">
            <input class="checkbox" type="checkbox" name="example" value="Awesome">
            <span>Keep me logged in</span>
          </label>
          <button>Log In</button>
          <p>
            Don't have an account?
            <a class="sign-up" href="/registration"> Sign up</a>
          </p>
        </form>
      </div>
    </div>
    <div class="box2">
      <img class="logo" th:src="@{/img/logo1.png}" alt="logo">
    </div>
  </div>
</body>

</html>