<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="regstyle.css">
    <title>Registration </title>
</head>

<body>
    <div class="container">
        <div class="box">
            <h1>Registraion</h1>
            <div class="sign-in-container">
                <form action="#">
                    <label for="uname"><b>First Name</b></label>
                    <input type="text" placeholder="Enter First Name" name="uname" required>
                    <label for="lname"><b>Last Name</b></label>
                    <input type="text" placeholder="Enter Last Name" name="lname" required>
                    <label for="email"><b>Email</b></label>
                    <input type="email" placeholder="Enter email" name="email" required>
                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>

                    <button>Sign up</button>
                    <p>
                        Already registered?
                        <a class="sign-up" href=""> Log in</a>
                    </p>
                </form>
            </div>
        </div>
        <div class="box2">
            <img class="logo" src="images/logo.png" alt="logo">
        </div>
    </div>
</body>

</html>