<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/regstyle.css}">
    <link rel="stylesheet" href="/static/css/regstyle.css">
    <title>Registration </title>
</head>

<body>
    <div class="container">
        <div class="box">
            <h1>Registraion</h1>
            <div class="sign-in-container">
                <form th:object="${user}" th:action="@{/registration}" method="post">
                    <label for="uname"><b>First Name</b></label>
                    <input type="text" id="uname" th:field="*{firstName}" placeholder="Enter First Name" name="uname" required>
                    <label for="lname"><b>Last Name</b></label>
                    <input type="text" id="lname" th:field="*{lastName}" placeholder="Enter Last Name" name="lname" required>
                    <label for="email"><b>Email</b></label>
                    <input type="email" id="email" th:field="*{username}" placeholder="Enter email" name="email" required>
                    <label for="password"><b>Password</b></label>
                    <input type="password" id="password" th:field="*{password}" placeholder="Enter Password" name="password" required>
                    <button>Sign up</button>
                    <p>
                        Already registered?
                        <a class="sign-up" href="/login"> Log in</a>
                    </p>
                </form>
            </div>
        </div>
        <div class="box2">
            <img class="logo" th:src="@{/img/logo1.png}" alt="logo">
        </div>
    </div>
</body>


</html>